
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --primary-color: #f1743c;
    --gray-color: #dbdbdd;
    --blue-color: #89a9d1;
    --gray-bgcolor: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 100%;
}

header {
    background-color: #000;
    color: #fff;

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    /* font-weight: 600; */
}

.container-right {
    width: 35%;
    height: 100%;

    position: fixed;
    right: 0;
    overflow-y: scroll;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container-right .profile-user {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-color);
    position: relative;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.container-right .profile-user .user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.container-right .profile-user .user i {
    margin-right: 15px;
    color: #fff;
    font-size: 25px;
}

.container-right .profile-user .edit-profile {
    background-color: var(--blue-color);
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

.order-buy, .order, .item, .total {
    display: flex;
    flex-direction: column;
}

/* .order-buy {
    padding: 0 14px;
} */

.item {
    margin-bottom: 10px;
}

.item-des, .note-list-item, .subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-des, .subtotal {
    margin-bottom: 5px;
}

.note-list-item {
    margin-bottom: 3px;
}

.item-name {
    text-transform: uppercase;
    font-size: 18px;
}

ul.note-list {
    color: var(--gray-color);
}

.total-name {
    font-size: 18px;
}

.line {
    border-top: 2px solid var(--gray-color);
    margin: 20px 0;
}


.container-right .buy {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    margin: 40px 0;
}

.add-voucher, .btn {
    padding: 10px 0;
    text-align: center;
}

.add-voucher {
    border: 1px dashed var(--gray-color);
    color: var(--gray-color);
    margin-bottom: 24px;
}

.add-voucher:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* left */
.container-left {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-bgcolor);
    padding: 40px;
    width: 65%;
}

.container-product, .product-item {
    display: flex;
    flex-direction: column;
}

.search, .filter-category, .search form, .category-item {
    display: flex;
    flex-direction: row;
}

.search form {
    width: 70%;
}

.search {
    justify-content: space-between;
    margin-bottom: 35px;
}

.search form input[type=text]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search form input[type=text]:focus, :active {
    outline: none;
}

.search form button {
    width: 100px;
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    padding: 10px;
}



.search .icon-filter {
    background-color: #fff;
    color: #000;
    padding: 6px 8px 5px 8px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.filter-category {
    margin-bottom: 32px;
    white-space: nowrap;
    overflow: auto;
}

.filter-category::-webkit-scrollbar {
    display: none;
}

.category-item {
    background-color: #fff;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    align-items: center;
    margin-right: 14px;
    cursor: pointer;
}

.category-item img {
    max-width: 100%;
    height: 24px;
    min-width: 24px;
    margin-right: 10px;
    object-fit: contain;
}

.category-item i {
    background-color: var(--gray-bgcolor);
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
}

.category-item:hover {
    background-color: var(--blue-color);
    color: #fff;
}

.category-item:hover i {
    background-color: #fff;
    color: var(--blue-color);
}

.category-item.focus{
    background-color: var(--blue-color);
    color: #fff;
}

.category-item.focus i{
    background-color: #fff;
    color: var(--blue-color);
}

.product {
    /* display: flex;
    flex-wrap: wrap; */
}

.product-item {
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.product-img {
    width: 100%;
    /* height: 100px; */
}

.product-img img {
    max-width: 100%;
}

.product-des {
    margin: 10px 0px;
}

.product-des .product-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-des .product-price {
    color: var(--primary-color);
}
